.hero{
    height:100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4), url(https://img.magnific.com/free-photo/movie-background-collage_23-2149876028.jpg?semt=ais_hybrid&w=740&q=80));
    background-position: center;
    background-size: cover;
    position: absolute;

}



body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.movie-card {
  background: white;
  padding: 10px;
  margin: 10px auto;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}